// COLORS
$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$corFaq: #13151d;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoDark: transparent;
$corDeFundoBotaoSecundario: #2e58ff;