.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url("../images/Hero_Murici_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    //  ÁREA de configuração do conteúdo do hero
    &__content {
        max-width: 640px;

                //  ÁREA de configuração da marca
        &__branding {
            max-width: 320px;
            background-color: red;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

}