.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url("../images/Hero_Murici_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    //  ÁREA de configuração do conteúdo do hero
    &__content {
        max-width: 640px;

                //  ÁREA de configuração da marca
        &__branding {
            max-width: 320px;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .title--small {
            margin-bottom: 64px;
        }
        p {
            margin-bottom: 20px;
        }

        //Área do UL classs combos
        &__combos {
            display: flex;
            justify-content: space-between;
            background-color: black;
            //Área do LI class combo
            &__combo {
                list-style: none;
                align-items: center;
                //Área do IMG dentro do LI class combo
                img {
                    width: 100%;
                }

            }
        }
    }

}