@use 'hero';
@use 'colors';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'watch_anywhere';
@use 'faq';
@use 'header';



@font-face {
    font-family: Avenir;
    src: url(../../assets/Avenir\ Next\ LT\ Pro\.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none; // tira o marcador de lista
}

html{
    background-color: colors.$corDeFundo;
    overflow-x: hidden;
}

.hero {
    background-size: cover;
    background-position: center;
    //align-items: left;
    text-align: center;

}


//  AREA DO MIXIN
@mixin text($FontSize: 16px) {
    font-size: $FontSize;
    line-height: $FontSize + 10px;
    color: colors.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
    color: aliceblue;

    @media (max-width: 768px) { // telas menores que 768px
            @include text(15px);
    }

}
.text {
    @include text;

            @media (max-width: 768px) { // telas menores que 768px
            @include text(14px);
    }
}
.text--small{
    @include text(12px);

        @media (max-width: 768px) { // telas menores que 768px
            @include text(11px);
    }
    
}

@mixin title($FontSize: 28px) {
    @include text($FontSize);

    color: colors.$corTextoSecundaria;
}
.title--big {
    @include title(44px);

    @media (max-width: 768px) { // telas menores que 768px
            @include title(26px)
    }
}

.title {
    @include title;

    @media (max-width: 768px) { // telas menores que 768px
            @include title(24px)
    }
}
.title--small {
    @include title(28px);

        @media (max-width: 768px) { // telas menores que 768px
            @include title(22px)
    }

}

.link-text {
    @include text(18px);
    color: colors.$corTextoSecundaria;
    text-decoration: underline;
}

.shows {
    margin: 0 auto;

}

.plans {
    margin: 0 auto;
}


                .button {
                    display: flex;
                    width: 100%;
                    height: 45px;
                    color: colors.$corTextoSecundaria;
                    background-color: colors.$corDeFundoBotaoDark;
                    border: solid 2px #fff;
                    border-radius: 9px;
                    margin-top: 1vw;
                    margin-bottom: 8px;
                    transition: background-color 0.3s ease;
                    padding: 8px 14px;
                    align-items: center;

                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1px;

                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .button:hover {
                    background-color: colors.$corDeFundoBotaoPrimario;
                    border: solid 2px colors.$corDeFundoBotaoPrimario;

                        
                }
                .button:active {
                        background-color: colors.$corDeFundoBotaoSecundario;
                        border: solid 2px #fff;
                }

    .image-text-section {
        padding: 5.6vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media (max-width: 767px) { // telas menores que 768px
            display: block;

        }
        &__text__container {
            padding: 0 2vw;

        @media (max-width: 767px) { // telas menores que 768px
            position: relative;
            left: 0;
            width: 100%;

        }

            h2 {
                margin-bottom: 24px;
            }
        }

        img {
            max-width: 100%;
            display: block;
            height: auto;
        }
        



        &--image-full-width {
                display: block;
                position: relative;
            img {
                width: 100%;
            }

            &__text_container{
            z-index: 3;
            position: absolute;
            top: 0vw;
            left: 50%;
            height: 100%;
            width: calc(50% - 10vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 767px) { // telas menores que 768px
            position: relative;
            left: 0;
            width: 100%;

        }

        }

    }


}