//àrea de importação de fontes
@use 'hero';
@use 'variables';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'watch_anywhere';
@use 'faq';
@use 'header';
@use 'footer';


// Área de declaração de fontes
// Fonte usada no Título
@font-face {
    font-family:  'Squeaky';
    src: url("../../assets/fonts/Squeaky.otf") format("opentype");
    font-weight: 400;
}
// Fonte usada no texto
@font-face {
    font-family:  'Roboto-Regular';
    src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
//  RESET CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//  ÁREA de configuração do body
body {
    overflow-x: hidden;
    background-color: variables.$corDeFundo; // Esta cor se encontra no documento variables.scss
    font-family: 'Roboto-Regular';
}

//  AREA de configuração dos tesxtos
@mixin text($FontSize: 16px) {
    font-size: $FontSize;
    line-height: $FontSize + 10px;
    color: variables.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
    color: variables.$corTextoSecundario; // Esta cor se encontra no documento variables.scss
}
.text {
    @include text;

}
.text--small{
    @include text(12px);


}

.link-text {
    @include text(18px);
    color: variables.$corTextoSecundario;
    text-decoration: underline;
}

//Áre ad econfiguração dos títulos
@mixin title($FontSize: 28px) {
    @include text($FontSize);
    color: variables.$corTextoSecundario; // Esta cor se encontra no documento variables.scss
}



.shows {
    margin: 0 auto;

}

.plans {
    margin: 0 auto;
}

.button {
        display: block;
        align-items: center;
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: variables.$corTextoSecundario;
        background-color: variables.$corDeFundoBotaoDark;// Esta cor se encontra no documento variables.scss
        border-radius: 4px;
        margin-top: 2vw;
        margin-bottom: 8px;
        border: none;
        cursor: pointer
}

.button:hover {
    background-color: variables.$corDeFundoBotaoPrimario;
    border: solid 2px variables.$corDeFundoBotaoSecundario;

}
.button:active {
    background-color: variables.$corDeFundoBotaoSecundario;
    border: solid 2px variables.$corDeFundo;
}

    .image-text-section {
        padding: 5.6vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media (max-width: 767px) { // telas menores que 768px
            display: block;

        }
        &__text__container {
            padding: 0 2vw;

        @media (max-width: 767px) { // telas menores que 768px
            position: relative;
            left: 0;
            width: 100%;

        }

            h2 {
                margin-bottom: 24px;
            }
        }

        img {
            max-width: 100%;
            display: block;
            height: auto;
        }
        



        &--image-full-width {
                display: block;
                position: relative;
            img {
                width: 100%;
            }

            &__text_container{
            z-index: 3;
            position: absolute;
            top: 0vw;
            left: 50%;
            height: 100%;
            width: calc(50% - 10vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 767px) { // telas menores que 768px
            position: relative;
            left: 0;
            width: 100%;

        }

        }

    }


}