//àrea de importação de fontes
@use 'hero';
@use 'header';
@use 'variables';

//  RESET CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//  ÁREA de configuração do body
body {
    background-color: variables.$cordeFundo; // Esta cor se encontra no documento variables.scss
}

//  AREA de configuração dos tesxtos
@mixin text($FontSize: 16px) {
    font-size: $FontSize;
    line-height: $FontSize + 10px;
    color: $corTextoPrincipal;
}
.text--big {
    @include text(18px);
    color: variables.$corTextoSecundario; // Esta cor se encontra no documento variables.scss
}
.text {
    @include text;
}
.text--small{
    @include text(12px);
}
//Áre ad econfiguração dos títulos
@mixin title($FontSize: 28px) {
    @include text($FontSize);
    color: variables.$corTextoSecundario; // Esta cor se encontra no documento variables.scss
}
.title--big {
    @include title(44px);
}
.title {
    @include title;

}
.title--small {
    @include title(28px);
}