@use "hero";
@use "variables";

.plans {
    background-color: red;
    align-items: center;
   // padding: 5.6vw;
    padding: 0;

    h2 {
    text-align: center;

    }

    &__list {
        padding: 0;
        background-color: yellow;
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;

        @media (max-width: 768px) { 
            display: block;
            
        }

        &__item {
            background-color: blue;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        max-width: 380px;
        width: 100%;

        &:nth-child(2) {
            background-image: url(../Images/fundo_combo_plus.png);
            background-repeat: no-repeat;
            background-size: contain;



        }


            img {
                height: 98px;
            }
        }


    }

    p {
        text-align: center;

    }
        strong {
        display: block;
        }
    }