//  ÁREA de configuração das cores
$corDeFundo: #0F0401;
$corDeFundoHeader: #0F0401;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTitulos: #D9CBA7;
$corDeFundoBotaoPrimario: #d07213;
$corDeFundoBotaoDark: transparent;
$corDeFundoBotaoSecundario: #d4ac28;
