
// COLORS
$corDeFundo: #0F0401;
$corTextoPrincipal: #D9CBA7;
$corTextoSecundaria: #f9f9f9;
$corFaq: #1b0b06;
$corDeFundoBotaoPrimario: #ff4a21;
$corDeFundoBotaoDark: transparent;
$corDeFundoBotaoSecundario: #ffc42e;